.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.window {
  width: 100%;
  min-height: 480px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  display: flex;
  flex-grow: 1;
  user-select: none;
  padding: 18px 18px;
}
.row-main {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.nav-ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}







.link-profile:hover {
  color: rgb(239 68 68);
  text-shadow: 0 1px 3px #17181a;
}
.project-container {
  display: flex;
  margin: 18px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.content-skill_icon {
  font-size: 3.6rem;
}
.col-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 18px;
  margin-top: 12px;
}
.content-skill_text {
  font-size: 1.4rem;
}
.box {
  width: 250px;
  height: 250px;
  border: black solid 0.175rem;
  background-image: url("./asset//avatar.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .nav-tab_li {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 480px) {
  .box {
    width: 200px;
    height: 200px;
  }
  .nav-tab_li {
    font-size: 1.8rem;
  }
  .content-main {
    font-size: 1.3rem;
  }
  .content-main_icon {
    font-size: 1.5rem;
  }
}
